@model MVCData.Models.People

<tr>
    <td>
        @Html.DisplayFor(m => m.Name)
    </td>
    <td>
        @Html.DisplayFor(m => m.City)
    </td>
    <td>
        @Html.DisplayFor(m => m.Telephone)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = Model.PersonId }) |
        @Html.ActionLink("Details", "Details", new { id = Model.PersonId }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.PersonId })
    </td>
</tr>