@model MVCData.Models.People

<div class="row">       @*//View of the Controller - displaying each person from the list of People*@ 
    <p>@Model.PersonId</p>
    <p>@Model.Name</p>
    <p>@Model.City</p>
    <p>@Model.Telephone</p>                      @*object routeValues=id*@
    <p>@Html.ActionLink("Delete", "Delete", new { id = Model.PersonId })</p>
</div>