@model IList<MVCData.Models.People>
<br /><br />
<div class="table-responsive">
    <table id="indexTable" class="table table-bordered table-striped">
        <tr>
            @*/*table row*/*@
            <th>PersonId</th>
            <th>Name</th>       @*//table head*@
            <th>City</th>
            <th>Telephone Number</th>
            <th>Action</th>
            <th>Action with Ajax</th>
        </tr>
        @if (Model.Count() == 0) //if input doesn't much anything in the list, text message of "No match for search..." will be displayed
            {
           
            <tr>
                @*//table column*@
                <td colspan="3">No match for search criteria</td>  @*//colspan of 3 columns (name, city, telephone)*@
            </tr>}
        else
        {
            foreach (var act in Model)      //displays all the listed names, cities and telephone number
            {
               
                <tr>
                    <td>@act.PersonId</td>      @*table data*@
                    <td>@act.Name</td>
                    <td>@act.City</td>
                    <td>@act.Telephone</td>
                    <td>@Html.ActionLink("Delete", "Delete", new { id = act.PersonId })</td>     @*//delete button that leads to delete view,  id=act.PrimaryKey*@                   
                    <td>
                        @Ajax.ActionLink("Delete with Ajax", "PeoplePartialDelete", "People", new { @id = act.PersonId }, new AjaxOptions
                   {
                       HttpMethod = "GET",
                       UpdateTargetId = "ajaxCreate",
                       OnSuccess = "updateIndex()"
                   })
                    </td>
                </tr>}
        }
    </table>
    <br /><br />
</div>

